<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Imagen</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Subir Imagen</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="fileInput" accept="image/*">
        <button type="button" onclick="uploadImage()">Subir Imagen</button>
    </form>

    <script src="/static/script.js"></script>
</body>
</html>
